{:jdbc-url               "jdbc:sqlite:./db/closp-crud-webinterface.sqlite"
 :migrations-output-path "./resources/migrators/sqlite"
 :clj-src                "src/clj"
 :ns-db                  "tables.ver01.db"
 :ns-db-entities         "tables.ver01.db.entities"
 :ns-routes              "tables.ver01.routes"
 :ns-layout              "tables.ver01.layout"
 :templates              "resources/templates"}
